<!DOCTYPE html>
<html ng-app="raven" lang="en">
    <head>
        <meta charset="utf-8" />

        @*Set the viewport width to device width for mobile *@
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewBag.Title - Raven Validator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @Styles.Render("~/Content/css")

        @RenderSection("head", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        <script>$(document).foundation();</script>

        @*Use the Scripts section to define page specific scripts*@
        @RenderSection("scripts", required: false)
    </body>
</html>